// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

// #include <dt-bindings/zmk/mouse.h>

&mt {
    flavor = "tap-preferred";
    tapping_term_ms = <200>;
};

&sl {
    release-after-ms = <2000>;
};

// #define HRML(k1,k2,k3,k4) &kp k1  &kp k2  &ht LALT k3  &ht LGUI k4
// #define HRMR(k1,k2,k3,k4) &ht RGUI k1  &ht RALT k2  &kp k3  &kp k4

/ {
    behaviors {
        ht: hold_tap {
            label = "hold_tap";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };
        tdl1: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_LAYER_1";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&sl 1>, <&to 1>;
        };
        tdl2: tap_dance_1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_DANCE_LAYER_2";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&sl 2>, <&to 2>;
        };
        hold_tap_layer: hold_tap_layer {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP_LAYER";
            bindings = <&mo>, <&to>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
        };
    };

    /*                KEY POSITIONS

        ╭────────────────────╮ ╭────────────────────╮
        │  0   1   2   3   4 │ │  5   6   7   8   9 │
        │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
        │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
        ╰───────────╮ 30  31 │ │ 32  33 ╭───────────╯
                    ╰────────╯ ╰────────╯            */

    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        combo_bksp {
            timeout-ms = <50>;
            key-positions = <8 9>;
            bindings = <&kp BACKSPACE>;
        };

        combo_layer {
            timeout-ms = <50>;
            key-positions = <30 33>;
            bindings = <&to 0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp Q  &kp W  &kp E     &kp R                &kp T              &kp Y            &kp U                &kp I       &kp O    &kp P
&kp A  &kp S  &ht LALT  &ht LGUI F           &kp G              &kp H            &ht RGUI J           &ht RALT K  &kp L    &kp SQT
&kp Z  &kp X  &kp C     &kp V                &kp B              &kp N            &kp M                &kp COMMA   &kp DOT  &kp FSLH
                        &hold_tap_layer 1 1  &ht RSHFT SPACE    &ht RCTRL ENTER  &hold_tap_layer 2 2
            >;
        };

        left_layer {
            bindings = <
&kp N0    &kp N1  &kp N2  &kp N3    &none         &kp GRAVE  &kp LPAR  &kp RPAR  &kp TILDE  &kp BKSP
&kp TAB   &kp N4  &kp N5  &kp N6    &caps_word    &kp EQUAL  &kp LBRC  &kp RBRC  &kp MINUS  &kp SEMI
&sk RGUI  &kp N7  &kp N8  &kp N9    &kp N0        &kp PIPE   &kp LBKT  &kp RBKT  &kp BSLH   &sk RALT
                          &sk RALT  &trans        &trans     &none
            >;
        };

        right_layer {
            bindings = <
&kp ESC   &kp EXCL    &kp AT       &kp HASH   &none       &none     &none      &none      &none      &kp BACKSPACE
&kp TAB   &kp DOLLAR  &kp PERCENT  &kp CARET  &none       &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &sk RALT
&sk RGUI  &kp AMPS    &kp STAR     &kp LPAR   &kp RPAR    &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &to 3
                                   &sk RALT   &trans      &trans    &none
            >;
        };

        bt {
            bindings = <
&sys_reset   &none  &none       &none       &none         &kp F1  &kp F2   &kp F3   &kp F4   &sys_reset
&bootloader  &none  &bt BT_PRV  &bt BT_NXT  &none         &kp F5  &kp F6   &kp F7   &kp F8   &bootloader
&none        &none  &none       &none       &none         &kp F9  &kp F10  &kp F11  &kp F12  &none
                                &none       &bt BT_CLR    &trans  &none
            >;
        };
    };
};
