/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "cradio.dtsi"



&pinctrl {
    spi0_default: spi0_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  1, 07)>, // D8 (SPIM_SCK,  0, 15) between D4 & D5 would be a high speed alternate pin for the xiao plus
                    <NRF_PSEL(SPIM_MOSI, 1, 02)>, // D4
                    <NRF_PSEL(SPIM_MISO, 1, 04)>; // D5
        };
    };

    /* configuration for spi1 device, sleep state */
    spi0_sleep: spi0_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK,  1, 07)>, // D8 (SPIM_SCK,  0, 15) between D4 & D5 would be a high speed alternate pin for the xiao plus
                    <NRF_PSEL(SPIM_MOSI, 1, 02)>, // D4
                    <NRF_PSEL(SPIM_MISO, 1, 04)>; // D5
            low-power-enable;
        };
    };

};
&pro_micro_spi {
	status = "okay";
	compatible = "nordic,nrf-spim";
	pinctrl-0 = <&spi0_default>;
	pinctrl-1 = <&spi0_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&pro_micro 0 GPIO_ACTIVE_LOW>;
	
	glidepoint: glidepoint@0 {
		status = "okay";
		compatible = "cirque,pinnacle";
		reg = <0>;
		spi-max-frequency = <1000000>;
		dr-gpios = <&pro_micro 0 (GPIO_ACTIVE_HIGH)>;
		x-invert;
		sensitivity = "2x";
		sleep;
		no-taps;
	};
};

&spi0 {
    status = "okay";
    glidepoint: glidepoint@0 {
        status = "okay";
    };
};



// &glidepoint_split {
//	device = <&glidepoint>;
// };